token.pickle
credentials.json
.vscode/
email_embeddings.npy
# Ignore SQLite database and compiled Python files
emails_secure.db
__pycache__/
*.pyc
*.pyo
*.log

# Ignore virtual environments
venv/
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

